<app-header></app-header>
<div class="about-container">
    <div class="profile-section">
        <img src="../../assets/images/lh-profile.png" alt="profile-pic">
        <p> I am a software developer with recent experience building full-stack 
            applications with TDD(Test Driven Development) in mind. I'm passionate about 
            testing and server-less technologies such as AWS and GCP(Google Cloud Platform). 
            I am currently building SPA(Single Page Applications)'s with robust RESTful APIs
             on the backend to grow my skills.</p>
    </div>
    
</div>

